<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<!--Навигационная панель-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><th:block th:text="ComAssist"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/main">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add_service">Добавить шаблон</a>
                <!-- Форма для перхода на страницу добавления default Сервиса  -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tariff">Тарифы</a>
            </li>
            <li class="nav-item" th:if="${user.isAdmin()}">
                <a class="nav-link" href="/user">Пользователи</a>
            </li>
        </ul>
    </div>
    <div class="navbar-text"><span th:text="${user.getUsername()}"></span></div>
    <div class="col-sm-3 ml-1">
        <form th:action="@{/logout}" method="post">
            <input th:if="${user!=null}" type="submit" class="btn btn-primary" value="Выйти"/>
        </form>
    </div>
</nav>

<div class="container">
    <a class="btn btn-secondary mb-2" data-toggle="collapse" href="#electro" role="button" width="15"
       aria-expanded="false" aria-controls="collapseExample">
        Тарифы на электроэнергию
    </a>
    <div class="collapse" id="electro">
<th:block th:utext="${parsingObjElectro.getTableElements().get(0)}"/>
    </div>

    <a class="btn btn-secondary mb-2" data-toggle="collapse" href="#voda" role="button" width="15"
       aria-expanded="false" aria-controls="collapseExample">
        Тарифы на воду
    </a>
    <div class="collapse" id="voda">
        <th:block th:utext="${parsingObjVoda.getTableElements().get(0)}"/>
    </div>


    <a class="btn btn-secondary mb-2" data-toggle="collapse" href="#gaz" role="button" width="15"
       aria-expanded="false" aria-controls="collapseExample">
        Тарифы на газ
    </a>
    <div class="collapse" id="gaz">
        <th:block th:utext="${parsingObjGaz.getTableElements().get(0)}"/>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>